@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  * {
    @apply box-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply m-0 font-sans antialiased text-gray-900 bg-white dark:bg-neutral-950 transition-colors duration-300;
  }

  ::selection {
    @apply bg-blue-500/30 text-blue-900 dark:bg-blue-500/20 dark:text-blue-100;
  }
}

@layer utilities {
  .bg-grid-white\/\[0\.02\] {
    mask-image: linear-gradient(to bottom, transparent, 5%, white, 95%, transparent);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(255 255 255 / 0.05)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
  }

  .bg-grid-black\/\[0\.2\] {
    mask-image: linear-gradient(to bottom, transparent, 5%, white, 95%, transparent);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(0 0 0 / 0.1)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
  }
}
